@font-face {
    font-family: "Catamaran"; /* Имя шрифта */
    src: url("../webfonts/Catamaran/Catamaran.ttf"); /* Путь к файлу со шрифтом */ 
    font-display: swap;
}
@font-face {
    font-family: "PTSerif"; /* Имя шрифта */
    src: url("../webfonts/PTSerif/ptserif.ttf"); /* Путь к файлу со шрифтом */ 
    font-display: swap;
}

 