@font-face {
    font-family: "Catamaran"; /* Имя шрифта */
    src: url("/webfonts/Catamaran/Catamaran.ttf"); /* Путь к файлу со шрифтом */ 
}
@font-face {
    font-family: "PT Serif"; /* Имя шрифта */
    src: url("/webfonts/PTSerif/ptserif.ttf"); /* Путь к файлу со шрифтом */ 
}
@font-face {
    font-family: "RobotoBold"; /* Имя шрифта */
    src: url("/webfonts/RobotoBold/RobotoBold.ttf"); /* Путь к файлу со шрифтом */ 
}
@font-face {
    font-family: "RobotoRegular"; /* Имя шрифта */
    src: url("/webfonts/RobotoRegular/RobotoRegular.ttf"); /* Путь к файлу со шрифтом */ 
}